@charset "UTF-8";
/* Base */ /* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@500;700&family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
a:hover {
  opacity: 0.5;
}

.btn {
  display: block;
  padding: 17px 0;
  border-radius: 6px;
  border: 2px solid #A30040;
  width: 172px;
  text-align: center;
  font-weight: 600;
  line-height: 19.2px;
}
@media (max-width: 744px) {
  .btn {
    font-size: 13px;
    padding: 12px 0;
  }
}

.btn-fill {
  background-color: #A30040;
  color: #fff;
}

.btn-transparent {
  color: #A30040;
}

.swiper {
  width: 100%;
  height: 100%;
}
.promo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #293775;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1530px) {
  .promo__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
  }
}

/* Blocks */
.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  padding-bottom: 30px;
  width: 857px;
  background: linear-gradient(110deg, transparent 17%, #fff 17% 83%, transparent 17%);
}
@media (max-width: 1530px) {
  .promo__content {
    width: 100%;
    background: url("./../img/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.promo__content-wrap {
  padding: 0 10px;
}
@media (max-width: 1530px) {
  .promo__content-wrap {
    margin: 0 auto;
    width: 500px;
  }
}
@media (max-width: 744px) {
  .promo__content-wrap {
    min-width: 185px;
  }
}

.promo__title {
  font-family: "Glory", sans-serif;
  font-size: 48px;
  font-weight: 500;
}
@media (max-width: 1530px) {
  .promo__title {
    font-size: 32px;
  }
}
.promo__title-from {
  font-size: 24px;
}
@media (max-width: 1530px) {
  .promo__title-from {
    font-size: 16px;
  }
}
.promo__title-name {
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 1530px) {
  .promo__title-name {
    font-size: 32px;
  }
}

.promo__text {
  margin-top: 20px;
  max-width: 501px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 150%;
}
@media (max-width: 1530px) {
  .promo__text {
    font-size: 12px;
    line-height: 150%;
  }
}

.promo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
  margin-top: 30px;
}
@media (max-width: 744px) {
  .promo__btn {
    gap: 18px;
  }
}

.promo__slider {
  width: 780px;
  height: 429px;
  background-image: linear-gradient(110deg, #293775 45%, #fff 45%);
  position: relative;
  padding: 10px;
}
@media (max-width: 744px) {
  .promo__slider {
    height: 300px;
  }
}
.promo__slider::after {
  content: "Спецпредложение";
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 10px 10px 40px;
  text-align: right;
  background: linear-gradient(125deg, transparent 10%, #A30040 10%);
}
@media (max-width: 744px) {
  .promo__slider::after {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}
@media (max-width: 1530px) {
  .promo__slider {
    width: 100%;
  }
}
@media (max-width: 744px) {
  .promo__slider {
    background-image: linear-gradient(110deg, #293775 70%, #fff 70%);
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 25px;
}
@media (max-width: 1530px) {
  .slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 744px) {
  .slide {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0px;
  }
}

.description {
  text-align: center;
  color: #fff;
}
@media (max-width: 744px) {
  .description {
    min-width: 185px;
  }
}

.description__title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;
}
.description__title span {
  font-size: 16px;
}
@media (max-width: 744px) {
  .description__title span {
    font-size: 12px;
  }
}
@media (max-width: 744px) {
  .description__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  font-size: 11.8px;
  font-weight: 300;
  margin-top: 20px;
  list-style: none;
}

.description__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  margin-top: 10px;
}
.description__price span {
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 300;
  line-height: 24.96px;
  text-decoration: line-through;
}
@media (max-width: 744px) {
  .description__price span {
    font-size: 12px;
  }
}
@media (max-width: 744px) {
  .description__price {
    font-size: 20px;
  }
}

@media (max-width: 744px) {
  .slide__img {
    width: 115px;
    height: 191px;
  }
}

.slide__set {
  width: 300px;
  color: #293775;
  list-style: disc inside;
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;
}
.slide__set li {
  margin-top: 20px;
}
@media (max-width: 744px) {
  .slide__set {
    display: none;
  }
}