.promo__content {
  display: flex;
  justify-content: end;
  padding-top: 70px;
  padding-bottom: 30px;
  padding-right: 50px;

  @media (max-width: 1080px) {
    justify-content: center;
    padding: 30px 10px;
    background: url('./../img/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 1990px) {
    justify-content: center;
    padding-left: 300px;
  }
}
.promo__content-wrap {
  padding-left: 20px;

  @media (max-width: 700px) {
    padding-left: 0;
  }
}
.promo__title {
  font-family: $glory;
  font-size: 48px;
  font-weight: 500;
  @media (max-width: 1080px) {
    font-size: 32px;
  }

  &-from {
    font-size: 24px;
    @media (max-width: 1080px) {
      font-size: 16px;
    }
  }

  &-name {
    font-size: 48px;
    font-weight: 700;
    @media (max-width: 1080px) {
      font-size: 32px;
    }
  }
}
.promo__text {
  margin-top: 20px;
  max-width: 501px;
  font-family: $inter;
  font-size: 15px;
  line-height: 150%;

  @media (max-width: 1080px) {
    font-size: 12px;
    line-height: 150%;
  }
}
.promo__btn {
  display: flex;
  gap: 44px;
  margin-top: 30px;

  @media (max-width: 700px) {
    gap: 18px;
  }
}
