.promo__slider {
  width: 780px;
  height: 429px;
  background-image: linear-gradient(110deg, $blue 45%, $white 45%);
  position: relative;
  padding: 10px;

  @media (max-width: 744px) {
    height: 300px;
  }

  &::after {
    content: 'Спецпредложение';
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $white;
    padding: 10px 10px 10px 40px;
    text-align: right;
    background: linear-gradient(125deg, transparent 10%, $red 10%);

    @media (max-width: 744px) {
      font-size: 12px;
      letter-spacing: 0.6px;
    }
  }

  @media (max-width: 1530px) {
    width: 100%;
  }

  @media (max-width: 744px) {
    background-image: linear-gradient(110deg, $blue 70%, $white 70%);
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 25px;

  @media (max-width: 1530px) {
    justify-content: center;
    gap: 50px;
  }
  @media (max-width: 744px) {
    justify-content: space-around;
    gap: 0px;
  }
}

.description {
  text-align: center;
  color: $white;
  

  @media (max-width: 744px) {
    min-width: 185px;
  }
}

.description__title {
  font-family: $inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;

  span {
    font-size: 16px;
    @media (max-width: 744px) {
      font-size: 12px;
    }
  }

  @media (max-width: 744px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.description__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 11.8px;
  font-weight: 300;
  margin-top: 20px;
  list-style: none;
}

.description__price {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  margin-top: 10px;
  span {
    color: $gray;
    font-size: 18px;
    font-weight: 300;
    line-height: 24.96px;
    text-decoration: line-through;
    @media (max-width: 744px) {
      font-size: 12px;
    }
  }

  @media (max-width: 744px) {
    font-size: 20px;
  }
}

.slide__img {
  @media (max-width: 744px) {
    width: 115px;
    height: 191px;
  }
}

.slide__set {
  width: 300px;
  color: $blue;
  list-style: disc inside;
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;

  li {
    margin-top: 20px;
  }

  @media (max-width: 744px) {
    display: none;
  }
}
